{% extends "base_template.html" %}

{%block title%} Shopping Cart {%endblock%}

{%block content%}
<div> Username: {{request.user.username}} </div>
<h3> My Shopping Cart </h3>

    <table class="table table-sm table-borderless">
        <thead class="thead-light">
            <tr>
                <th> Index </th>
                <th> Food </th>
                <th> Vendor </th>
                <th> Food Price </th>
                <th> Qty </th>
                <th> Subtotal </th>
                <th> &nbsp; </th>
            </tr>
        </thead>
        {% for b_key,b_value in cart.items %}
            {% for f_key,f_value in b_value.items %}
                
                {% if forloop.first %}
                <tr>
                    <td colspan="6"> &nbsp; </td>
                </tr>
                <tr>
                    <td colspan="6"> Delivery Address: Blk {{f_value.buyer.block}}, {{f_value.buyer.street}}, {{f_value.buyer.postal_code}}  </td>
                </tr>
                <tr>
                    <td colspan="6"> Contact: {{f_value.buyer.contact}}   </td>
                </tr> 
                {%endif%}
                <tr>
                    <td> {{forloop.counter}} </td>
                    <td> {{f_value.food_title}} </td>
                    <td> {{f_value.vendor_name}}
                    <td> {{f_value.price}} </td>
                    <td style="display:flex; justify-content:space-around;"> 
                        <p>{{f_value.qty}}</p>
                        <form method="POST" action="{% url 'add_quantity_route' buyer_id=f_value.buyer.id food_id=f_value.food_id %}">
                            {%csrf_token%}
                            <input type="submit" style="font-family:FontAwesome;" class="btn text-primary" value="&#xf0fe">
                        </form>
                        <form method="POST" action="{% url 'subtract_quantity_route' buyer_id=f_value.buyer.id food_id=f_value.food_id %}">
                            {%csrf_token%}
                            <input type="submit" style="font-family:FontAwesome;" class="btn text-primary" value="&#xf146">
                        </form>
                    </td>
                    <td> {{f_value.sub_total}} </td>
                    <td> <a href="{% url 'remove_from_cart_route' buyer_id=f_value.buyer.id food_id=f_value.food_id %}"> Remove </a>  </td>
                </tr>
            {%endfor%}
        {%endfor%}

    </table>

    {% if cart %}
    <div> Grand total is ${{grand_total}} </div>
    <a href="{% url 'checkout_route' %}" target="_blank">Check Out </a>
    {% endif %}





{%endblock%}