{% extends 'base_template.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'buyer_nav_bar.css' %}">
<link rel="stylesheet" href="{% static 'buyer_home_page.css' %}">

{%endblock%}

{%block title%} Your Profiles {%endblock%}

{%block content%}

<div class="right-nav-parent">
    <nav class="right-nav">
        <ul>
            <li> <a href="{% url 'show_buyer_profiles_route' %}"> My Profiles </a> </li>
        </ul>
        <ul>
            <li> <a href="{% url 'view_order_history_route' %}"> My Orders </a> </li>
        </ul>
        <ul>
            <li> <a href="{% url 'view_cart_route' %}" target="_blank"> Go to Shopping Cart </a> </li>
        </ul>
    </nav>
</div>

<div class="profile-section-one">
    <div class="psone-divone"><em>Current Profile</em></div>
    {% if current_buyer_profile %}
        <div class="psone-divtwo"> 
            <section> <strong> {{current_buyer_profile.user.username}} </strong> </section>
            <section>
                <span> {{current_buyer_profile.block}}, </span>
                <span> {{current_buyer_profile.street}}, </span>
                <span> {{current_buyer_profile.postal_code}}, </span>
                <span> {{current_buyer_profile.town}}, </span>
            </section>
            <section> {{current_buyer_profile.contact}} </section>
        </div>
    {%else%}
        <div> Nil </div>
    {%endif%}
</div>

<br>
<div class="profile-section-two">
    <section><strong> Switch profile </strong></section>
    <section>
        <ul>
            {% if buyer_profiles %}
            {%for i in buyer_profiles %}
                    <li> {{i}}  
                    {% if i.id == buyer_id %} 
                    <span class="text-success"> 
                     Current
                    </span> 
                    {%else%} <a href="{% url 'index_by_profile_route' buyer_id=i.id %}"> Use  </a> 
                    {%endif%}
                    </li>
            {%endfor%}
            {%else%}
            No profile yet. <a href="{% url 'create_buyer_profile_route' %}"> Create a profile</a> first to see any vendors that can deliver to you.
            {% endif %}
        </ul>
    </section>
</div>

<nav class="navbar navbar-expand-lg justify-content-center" id="filter-search-bar" style="clear:both;">
  
    {%if buyer_id %}
        <div class="w-50">
        </div>
        <div class="w-50">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown mx-2 filter-dropdown">
                    <a class="nav-link text-dark" href="#" id="VendorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vendors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="VendorDropdown">
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?category=restaurant">Restaurant</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?category=hawker">Hawker</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?category=caterer">Caterer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}">All Vendors</a>
                    </div>
                </li>
                <li class="nav-item dropdown mx-2 filter-dropdown">
                    <a class="nav-link text-dark" href="#" id="FoodDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Food
                    </a>
                    <div class="dropdown-menu" aria-labelledby="FoodDropdown">
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=chinese">chinese</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=malay">malay</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=indian">indian</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=western">western</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=halal">halal</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=non-halal">non-halal</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=noodles">noodles</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=organic">organic</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=vegetarian">vegetarian</a>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}?tag=others">others</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'index_by_profile_route' buyer_id=buyer_id%}">All Food</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flex-shrink-1">
            <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'index_by_profile_route' buyer_id=buyer_id %}" style="flex-wrap:nowrap;">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search vendor/food" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    {%endif%}
</nav>

<h4 style="color:saddlebrown;"> Vendors </h4>
<div class="vendor-display">
    
    {%if vendor_available %}
        {%for i in vendor_available %}
        <div>
            <section><strong> {{i}} </strong> </section>
            <section> 
                <span> <i class="fa fa-home" aria-hidden="true"></i> {{i.block}} {{i.street}} {{i.postal_code}} | </span>
                <span> <i class="fa fa-phone" aria-hidden="true"></i> {{i.contact}} </span>
            </section>
            <section> {%for j in i.category.all %} <button type="button" class="btn btn-outline-dark btn-sm" disabled>{{j}}</button> {%endfor%}</section>
            <hr>
            <section><em>Delivers to</em>
            <section> {%for j in i.vendordeliverytown.all %} <button type="button" class="btn btn-outline-dark btn-sm" disabled>{{j}}</button> {%endfor%}</section>
            <section> {%for j in i.vendordeliverypostal.all %} <button type="button" class="btn btn-outline-dark btn-sm" disabled>{{j}}</button> {%endfor%}</section>
        </div>
        {%endfor%}
    {%endif%}
    
</div>
<hr>

<h4 style="color:saddlebrown;"> Food </h4>
<div class="food-display">
{%if food_available %}
    {%for i in food_available %}
        <div>  
            {% if i.image %}
              <img src="{{i.image.cdn_url}}"/> 
            {% endif %}
                <section>
                    <strong> {{i}} </strong> 
                    <span> <em>by</em> <strong> {{i.vendor.name}} </strong></span> 
                </section>
                <section> {{i.description}} </section>
                <section> {%for j in i.tag.all %} <button type="button" class="btn btn-outline-danger btn-sm" disabled> {{j}} </button> {%endfor%} </section> 
                <hr>
                <section> 
                    <span> <i class="fa fa-user-o" aria-hidden="true"></i> {{i.portion}}pax &nbsp;&nbsp; | </span>&nbsp;&nbsp;
                    <span> <i class="fa fa-money" aria-hidden="true"></i> ${{i.price}} &nbsp;&nbsp; |</span>&nbsp;&nbsp;
                    <span> <i class="fa fa-clock-o" aria-hidden="true"></i> {{i.delivery_time}}mins <small><em> delivery time </em></small>  </span>&nbsp;&nbsp;&nbsp;&nbsp;
                
                    {% if i.vendor.license_check %}
                    <span> <a href="{% url 'add_to_cart_route' buyer_id=buyer_id food_id=i.id %}"> Add to cart </a></span>
                    {% else %}
                    <br><br>
                    <section class="alert alert-warning"> Vendor pending verification. </section>
                    {%endif%}
                </section>
                
            
        </div>
    {%endfor%} 
{%endif%}
</div>

{%endblock%}