{% extends 'base_template.html' %}

{%block css%}
<style>
    h3 {
        clear:left;
    }

    .right-nav-parent {
        float:right;
        margin-bottom:20px;
        vertical-align:top;
    }

    
    .right-nav ul{
        list-style:none;
    }

</style>

{%endblock%}


{%block title%} My Profiles {%endblock%}

{%block content%}

<div class="right-nav-parent">
    <nav class="right-nav" style="display:flex;">
        <ul>
            <li> <a href="{% url 'show_buyer_profiles_route' %}"> My Profiles </a> </li>
        </ul>
        <ul>
            <li> <a href="{% url 'view_order_history_route' %}"> My Orders </a> </li>
        </ul>
        <ul>
            <li> <a href="{% url 'view_cart_route' %}" target="_blank"> Go to Shopping Cart </a> </li>
        </ul>
    </nav>
</div>


<h3> My Profiles </h3>
<a href="{% url 'index_route' %}"> Back to Home </a>
<br><br>

<div> <a href="{% url 'create_buyer_profile_route'  %}"> Add new profile </a> </div>

<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <th> Profile </th>
        <th> User </th>
        <th> Contact </th>
        <th> Date joined </th>
        <th> &nbsp; </th>
    </thead>
    {%for i in objects%}
    <tr>
        <td> {{forloop.counter}} </td>
        <td> {{i}} </td>
        <td> {{i.contact}} </td>
        <td> {{i.date_joined}} </td>
        <td> <a href="{% url 'edit_buyer_profile_route' buyer_id=i.id %}">Edit |</a> 
            <a href="{% url 'delete_buyer_profile_route' buyer_id=i.id %}"> Delete </a>
        </td>
    </tr>
    {%endfor%}
</table>
    

{%endblock%}
