{% extends 'base_template.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" href="{% static 'buyer_nav_bar.css' %}">
{%endblock%}

{%block title%} Your Orders {%endblock%}

{%block content%}

<div class="right-nav-parent">
    <nav class="right-nav">
        <ul>
            <li><a href="{% url 'index_route' %}"> Back to Home </a></li>
        </ul>
        <ul>
            <li> <a href="{% url 'show_buyer_profiles_route' %}"> My Profiles </a> </li>
        </ul>
        <ul>
            <li> <a href="{% url 'view_order_history_route' %}"> My Orders </a> </li>
        </ul>
        <ul>
            <li> <a href="{% url 'view_cart_route' %}" target="_blank"> Go to Shopping Cart </a> </li>
        </ul>
    </nav>
</div>

<h3 style="color:brown;"> My Orders </h3><br>

<div class="my-table">
    <table class="table table-light table-hover table-responsive-lg">
        <thead class="thead-light">
            <th> Index </th>
            <th> Order Id </th>
            <th> Date </th>
            <th> Profile </th>
            <th> Food </th>
            <th> Vendor </th>
            <th> Quantity </th>
            <th> Sub-total </th>
            <!-- <th> &nbsp; </th> -->
        </thead>
        {%for i in orders%}
        <tr>
            <td> {{forloop.counter}} </td>
            <td style="font-size:8px; overflow-wrap:break-word;"> {{i.order.order_number}} </td>
            <td> {{i.datetime}} </td>
            <td> {{i.buyer}} </td>
            <td> {{i.food}} </td>
            <td> {{i.food.vendor}}
            <td> {{i.quantity}} </td>
            <td> {{i.cost}} </td>
            <!-- <td> <button class="buyer-buttons"><a href="#">Review</a></button> 
                <button class="buyer-buttons"><a href="#">Report</a></button>
            </td> -->
        </tr>
        {%endfor%}
    </table>
</div>
    

{%endblock%}

