{% extends 'base_template.html' %}

{%block title%} Your Profiles {%endblock%}

{%block content%}

<nav style="display:flex; justify-content: flex-end;">
    <ul>
        <li> <a href="{% url 'show_buyer_profiles_route' %}"> My Profiles </a> </li>
    </ul>
    <ul>
        <li> <a href="{% url 'view_order_history_route' %}"> My Orders </a> </li>
    </ul>
    <ul>
        <li> <a href="{% url 'view_cart_route' %}" target="_blank"> Go to Shopping Cart </a> </li>
    </ul>
</nav>

<h1> Your Profiles </h1>

<a href="{% url 'create_buyer_profile_route'  %}"> Add new profile </a>

<table class="table">
    <thead>
        <th> Profile </th>
        <th> user display </th>
        <th> contact </th>
        <th> date joined </th>
        <th> &nbsp; </th>
    </thead>
    {%for i in objects%}
    <tr>
        <td> {{forloop.counter}} </td>
        <td> {{i}} </td>
        <td> {{i.contact}} </td>
        <td> {{i.date_joined}} </td>
        <td> <a href="{% url 'edit_buyer_profile_route' buyer_id=i.id %}">Edit</a> 
            <a href="{% url 'delete_buyer_profile_route' buyer_id=i.id %}"> Delete </a>
        </td>
    </tr>
    {%endfor%}
</table>
    

{%endblock%}

<!-- <a href="{% url '' %}"> Back </a> -->