{% extends 'base_template.html' %}

{%block title%} Your Orders {%endblock%}

{%block content%}

<nav style="display:flex; justify-content: flex-end;">
     <ul>
        <li> <a href="{% url 'index_route' %}"> My Home </a> </li>
    </ul>
    <ul>
        <li> <a href="{% url 'show_buyer_profiles_route' %}"> My Profiles </a> </li>
    </ul>
    <ul>
        <li> <a href="{% url 'view_order_history_route' %}"> My Orders </a> </li>
    </ul>
    <ul>
        <li> <a href="{% url 'view_cart_route' %}" target="_blank"> Go to Shopping Cart </a> </li>
    </ul>
</nav>

<h1> My Orders </h1>

<table class="table">
    <thead>
        <th> Index </th>
        <th> Order Id </th>
        <th> Date </th>
        <th> Profile </th>
        <th> Food </th>
        <th> Vendor </th>
        <th> Quantity </th>
        <th> Sub-total </th>
        <th> &nbsp; </th>
    </thead>
    {%for i in orders%}
    <tr>
        <td> {{forloop.counter}} </td>
        <td style="font-size:8px; overflow-wrap:break-word;"> {{i.order.order_number}} </td>
        <td> {{i.datetime}} </td>
        <td> {{i.buyer}} </td>
        <td> {{i.food}} </td>
        <td> {{i.food.vendor}}
        <td> {{i.quantity}} </td>
        <td> {{i.cost}} </td>
        <td> <a href="#">Review</a> 
            <a href="#"> Report </a>
        </td>
    </tr>
    {%endfor%}
</table>
    

{%endblock%}

<!-- <a href="{% url '' %}"> Back </a> -->