{% extends 'base_template.html' %}
{% load static %}
{%load crispy_forms_tags %}

{%block css%}

<link rel="stylesheet" href="{% static 'buyer_pages.css' %}">

{%endblock%}




{%block title%} Create Profile {%endblock%}

{%block content%}

<br>
<h3> Create Profile </h3>
<a href="{% url 'show_buyer_profiles_route' %}"> Back </a>
<br><br>

<div class="buyer-form">
    <form method="POST">
        {%csrf_token%}
        {{ form|crispy}}
        <input class="buyer-buttons" type="submit">
        
    </form>
</div>



{%endblock%}

