{% extends 'base_template.html' %}
{% load static %}
{%block css%}

<style>
    button {
        position:relative;
        top: -46px;
        left: 60px;

    }
</style>

<link rel="stylesheet" href="{% static 'buyer_pages.css' %}">



{%endblock%}

{%block title%} Delete profile {%endblock%}

{%block content%}

<br>

<div class="buyer-form">
    <h3> Delete Profile </h3>
    <span> "{{object}}" </span>
    <br><br>
    <p> Are you sure? </p>
    <form method="POST">
        {%csrf_token%}
        <input type="submit" value="Yes" class="buyer-buttons">
    </form>
    <button class="buyer-buttons" ><a href="{% url 'show_buyer_profiles_route' %}" style="text-decoration:none; color:white;">No</a></button>

</div>

{%endblock%}
