{% extends 'base_template.html' %}

{%block title%} Your Profiles {%endblock%}

{%block content%}

<h1> HOME </h1>

<div>
    number of vendors : {{no_of_vendors}}
</div>
<div> 
    Number of Vendors that deliver to respective towns:
    <p> Ang Mo Kio: {{no_of_vendors_amk}} </p>
    <p> Bedok : {{no_of_vendors_bedok}} </p>
    <p> Bishan : {{no_of_vendors_bishan}} </p>
    <p> Bukit Batok : {{no_of_vendors_batok}} </p>
    <p> Bukit Merah : {{no_of_vendors_merah}} </p>
    <p> Bukit Panjang : {{no_of_vendors_panjang}} </p>
    <p> Bukit Timah : {{no_of_vendors_timah}} </p>
    <p> Central Area : {{no_of_vendors_central}} </p>
    <p> Choa Chu Kang : {{no_of_vendors_cck}} </p>
    <p> Clementi : {{no_of_vendors_clementi}} </p>
    <p> Geylang : {{no_of_vendors_geylang}} </p>
    <p> Hougang : {{no_of_vendors_hougang}} </p>
    <p> Jurong East : {{no_of_vendors_jurongeast}} </p>
    <p> Jurong West : {{no_of_vendors_jurongwest}} </p>
    <p> Kallang/Whampoa : {{no_of_vendors_kw}} </p>
    <p> Marine Parade : {{no_of_vendors_mp}} </p>
    <p> Pasir Ris : {{no_of_vendors_pasir}} </p>
    <p> Punggol : {{no_of_vendors_punggol}} </p>
    <p> Queenstown : {{no_of_vendors_qt}} </p>
    <p> Sembawang : {{no_of_vendors_sembawang}} </p>
    <p> Sengkang : {{no_of_vendors_sengkang}} </p>
    <p> Serangoon : {{no_of_vendors_serangoon}} </p>
    <p> Tampines : {{no_of_vendors_tampines}} </p>
    <p> Toa Payoh : {{no_of_vendors_toapayoh}} </p>
    <p> Woodlands : {{no_of_vendors_woodlands}} </p>
    <p> Yishun : {{no_of_vendors_yishun}} </p>

</div>


{%endblock%}