{% extends 'base_template.html' %}
{% load static %}

{%block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{%endblock%}

{%block title%} Your Profiles {%endblock%}

{%block content%}

<div class="tier tier-one">
    <div style="background-color:pink;">
        <div> For patron, order your food from vendors that can deliver to you. Accept only online payment. </div>
    </div>
    <div style="background-color: lightgrey;">
        <div> For Food Vendors, setup the food online and choose where you can deliver to.  </div>
    </div>
</div>

<div class="tier tier-two">
    number of vendors : {{no_of_vendors}}
</div>

<div class="tier tier-three">
&nbsp;
</div>

<div class="tier tier-four">
    <div class="tier-four-left">Available Vendors that deliver to respective towns</div>
    <div class="tier-four-right" style="background-color: red;">
        <div class="inner-border">
                    <div> Ang Mo Kio: {{no_of_vendors_amk}} </div>
                    <div> Bedok : {{no_of_vendors_bedok}} </div>
                    <div> Bishan : {{no_of_vendors_bishan}} </div>
                    <div> Bukit Batok : {{no_of_vendors_batok}} </div>
                    <div> Bukit Merah : {{no_of_vendors_merah}} </div>
                    <div> Bukit Panjang : {{no_of_vendors_panjang}} </div>
                    <div> Bukit Timah : {{no_of_vendors_timah}} </div>
                    <div> Central Area : {{no_of_vendors_central}} </div>
                    <div> Choa Chu Kang : {{no_of_vendors_cck}} </div>
                    <div> Clementi : {{no_of_vendors_clementi}} </div>
                    <div> Geylang : {{no_of_vendors_geylang}} </div>
                    <div> Hougang : {{no_of_vendors_hougang}} </div>
                    <div> Jurong East : {{no_of_vendors_jurongeast}} </div>
                    <div> Jurong West : {{no_of_vendors_jurongwest}} </div>
                    <div> Kallang/Whampoa : {{no_of_vendors_kw}} </div>
                    <div> Marine Parade : {{no_of_vendors_mp}} </div>
                    <div> Pasir Ris : {{no_of_vendors_pasir}} </div>
                    <div> Punggol : {{no_of_vendors_punggol}} </div>
                    <div> Queenstown : {{no_of_vendors_qt}} </div>
                    <div> Sembawang : {{no_of_vendors_sembawang}} </div>
                    <div> Sengkang : {{no_of_vendors_sengkang}} </div>
                    <div> Serangoon : {{no_of_vendors_serangoon}} </div>
                    <div> Tampines : {{no_of_vendors_tampines}} </div>
                    <div> Toa Payoh : {{no_of_vendors_toapayoh}} </div>
                    <div> Woodlands : {{no_of_vendors_woodlands}} </div>
                    <div> Yishun : {{no_of_vendors_yishun}} </div>
        </div>
                
    </div>
</div>


{%endblock%}