{% extends 'base_template.html' %}
{% load static %}

{%block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
{%endblock%}

{%block title%} Your Profiles {%endblock%}
    
{%block content%}

<div class="tier tier-minus-two">
    <div>
        <section> 8Bear </section> 
    </div>
</div>

<div class="tier tier-minus-one">

</div>

<div class="tier tier-zero">
    <div>
        <section class="text-muted"> 
        8bear is a food ordering platform for food vendors to enable their customers to order via online and the vendors will commit to deliver the foods to customers doorstep. 
        </section>
    </div>
</div>



<div class="tier tier-one">
    <div style="background-color: rgb(200, 200, 243);">
        <section class="text-muted"> As Food Vendor, setup the food online and choose where you can deliver to.  </section>
    </div>
    <div style="background-color:rgb(248, 240, 240);">
        <section class="text-muted"> As Food customers, find out the food you can order that food vendors can deliver to you. </section>
    </div>
</div>

<div class="tier-hero">

    <div class="tier tier-two">
    &nbsp;
    </div>

    <div class="tier tier-three">
        <section class="alert alert-light" > {{no_of_vendors}} Vendors</section>
    </div>


</div>


<div class="tier tier-four">
    <div class="tier-four-left">
        <section class="alert alert-light">
            Available Delivery by Towns
        </section>
    </div>
    <div class="tier-four-right" style="background-color: white;">
        <div class="inner-border">
                    <div> Ang Mo Kio: {{no_of_vendors_amk}} </div>
                    <div> Bedok : {{no_of_vendors_bedok}} </div>
                    <div> Bishan : {{no_of_vendors_bishan}} </div>
                    <div> Bukit Batok : {{no_of_vendors_batok}} </div>
                    <div> Bukit Merah : {{no_of_vendors_merah}} </div>
                    <div> Bukit Panjang : {{no_of_vendors_panjang}} </div>
                    <div> Bukit Timah : {{no_of_vendors_timah}} </div>
                    <div> Central Area : {{no_of_vendors_central}} </div>
                    <div> Choa Chu Kang : {{no_of_vendors_cck}} </div>
                    <div> Clementi : {{no_of_vendors_clementi}} </div>
                    <div> Geylang : {{no_of_vendors_geylang}} </div>
                    <div> Hougang : {{no_of_vendors_hougang}} </div>
                    <div> Jurong East : {{no_of_vendors_jurongeast}} </div>
                    <div> Jurong West : {{no_of_vendors_jurongwest}} </div>
                    <div> Kallang/Whampoa : {{no_of_vendors_kw}} </div>
                    <div> Marine Parade : {{no_of_vendors_mp}} </div>
                    <div> Pasir Ris : {{no_of_vendors_pasir}} </div>
                    <div> Punggol : {{no_of_vendors_punggol}} </div>
                    <div> Queenstown : {{no_of_vendors_qt}} </div>
                    <div> Sembawang : {{no_of_vendors_sembawang}} </div>
                    <div> Sengkang : {{no_of_vendors_sengkang}} </div>
                    <div> Serangoon : {{no_of_vendors_serangoon}} </div>
                    <div> Tampines : {{no_of_vendors_tampines}} </div>
                    <div> Toa Payoh : {{no_of_vendors_toapayoh}} </div>
                    <div> Woodlands : {{no_of_vendors_woodlands}} </div>
                    <div> Yishun : {{no_of_vendors_yishun}} </div>
        </div>
                
    </div>
</div>

<div class="tier tier-five">
    <div> 
    <section class="text-muted"> 
    Vendors' food license will undergo verification process after sign up. <br><br> 
    Share with your customers so that they can order online and you deliver to them !
    </section> 
    </div>
</div>

<div class="tier tier-six">
    <div style="background-color: rgb(200, 200, 243);">
        
        <section class="text-muted">
            <h6> For Food Vendors, how to get started? </h6> 
            <div> Create an account. </div>
            <h1> <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></h1>
            <div> Go to Vendor Access and add in your vendor profile. <br>Vendor profile will be pending verification after added.</div>
            <h1> <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></h1>
            <div> Start adding foods to the vendor profile and customise your delivery reach based on postal codes or towns. </div>
            <h1> <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></h1>
            <div> Once the vendor profile is verified by us, your customers can see and order your food in their home page.</div>
        </section>
    </div>
    <div style="background-color:rgb(248, 240, 240);">
        <section class="text-muted"> 
            <h6> For Food customers, how to get started? </h6>
            <div> Create an account. </div>
            <h1> <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></h1>
            <div> Go to Home Page and create a profile. </div>
            <h1> <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></h1>
            <div> Vendors and foods show according to you profile in home page. </div>
            <h1> <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></h1>
            <div> Order your food </div>
        </section>
    </div>
</div>

<div id="fixed-hero">
</div>
<div id="fixed-logo">
</div>

{%endblock%}

{%block postjs%} 

<script src="{% static 'hero_img.js' %}"></script>

{%endblock%}