{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load account %}

{%block css%}

<style>
    #cancel-button {
        position:relative;
        top: -38px;
        left: 100px;

    }
</style>

<link rel="stylesheet" href="{% static 'accounts.css' %}">

{%endblock%}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}

    <div class="account-profile">
        <a href="{% url 'view_home_route' %}">Home</a>
        <div class="account-divone"><em>{% trans "Password Reset" %}</em></div>
        <hr>
        <div class="account-divtwo"> 
        
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>

{% endblock %}
