{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{%block css%}

<style>
    #cancel-button {
        position:relative;
        top: -38px;
        left: 100px;

    }
</style>

<link rel="stylesheet" href="{% static 'accounts.css' %}">

{%endblock%}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="account-profile">
    <a href="{% url 'view_home_route' %}">Home</a>
    <div class="account-divone"><em>{% trans "Verify Your E-mail Address" %}</em></div>
    <hr>
    <div class="account-divtwo"> 
    

    <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
