.account-profile {
        margin-bottom:30px;
        border:1px solid rgba(170, 170, 170, 0.635);
        padding-left:50px;
        padding-right: 50px;
        padding-top : 30px;
        padding-bottom :30px;
        min-width:33%;
        line-height:30px;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color:white;
    
}

body {
    background-color: rgba(173, 216, 230, .3);
}


.account-divone {
    float:right;
}

.account-divtwo, hr {
    clear:both;
}

@media only screen and (max-width: 600px) {
  
    .account-profile {
        
        margin-left:5%;
        margin-right:5%;
        width:90%;
        line-height:30px;
        position:absolute;
        top: 20%;
        left: 0 ;
        transform: none;
        background-color:white;
        
    }
}