
.right-nav {
    margin-top:20px;
}

.right-nav ul{
    list-style:none;
}


.profile-section-one {
    float:right;
    margin-bottom:30px;
    border:1px solid rgba(170, 170, 170, 0.635);
    padding:20px;
    
}

.psone-divone{
    float:right;
}

.psone-divtwo{
    clear:both;
}

.profile-section-two {
    margin-bottom: 30px;
}

.profile-section-two ul {
    list-style: none;
}

.profile-section-two h4 {
    margin-bottom: 20px;
}


.vendor-display {
    display:flex; 
    flex-wrap:wrap; 
    margin-top:20px;
    margin-bottom:20px;

}

.vendor-display div {
    flex:25%;
    max-width:25%;
    border: 1px solid rgba(170, 170, 170, 0.635);
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    
}

.food-display {
    
    display:flex; 
    flex-wrap:wrap; 
    margin-top:20px;
    margin-bottom:20px;
    
}

.food-display div {
    flex:25%;
    max-width:25%;
    border: 1px solid rgba(170, 170, 170, 0.635);
    margin-left:20px;
    margin-right:20px;
    padding:50px;
}

.food-display div img {
    width:100%;
    
}

@media screen and (max-width:1440px) {
    .food-display div{
        flex: 33%;
        max-width: 33%;
    }

    .vendor-display div{
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width:800px) {
    .food-display div{
        flex: 50%;
        max-width: 50%;
    }

    .vendor-display div{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px) {
    .food-display div{
        flex: 100%;
        max-width: 100%;
    }

    .vendor-display div{
        flex: 100%;
        max-width: 100%;
    }
}

