
.profile-section-one {
    float:right;
    margin-bottom:30px;
    border:1px solid rgba(170, 170, 170, 0.635);
    padding:20px;
    clear:both;
    background-color:white;
}

.psone-divone{
    float:right;
}

.psone-divtwo{
    clear:both;
}

.profile-section-two {
    margin-bottom: 30px;
}

.profile-section-two ul {
    list-style: none;
}

.profile-section-two h4 {
    margin-bottom: 20px;
}


#filter-search-bar {
    background-color:burlywood;
    
}

.filter-dropdown{
    background-color: coral;
}


.filter-dropdown:hover {
    background-color: violet;
}

#VendorDropdown:hover {
    color:burlywood !important;
}

#FoodDropdown:hover{
    color:burlywood !important;
}


.vendor-display {
    display:flex; 
    flex-wrap:wrap; 
    margin-top:20px;
    margin-bottom:20px;
    

}

.vendor-display div {
    flex:20%;
    max-width:20%;
    border: 1px solid rgba(170, 170, 170, 0.635);
    margin-left:20px;
    margin-right:20px;
    padding:20px;
    background-color: white;
    margin-bottom:10px;
    
}

.food-display {
    
    display:flex; 
    flex-wrap:wrap; 
    margin-top:20px;
    margin-bottom:20px;
    
}

.food-box {
    flex:20%;
    max-width:20%;
    border: 1px solid rgba(170, 170, 170, 0.635);
    margin-left:10px;
    margin-right:10px;
    padding:40px;
    margin-bottom:10px;
    background-color:white;
}

.food-display div img {
    width:100%;
    
}

.food-box:hover {
    border: 2px solid coral;
    padding:20px;
}

@media screen and (max-width:1440px) {
    .food-display div{
        flex: 30%;
        max-width: 30%;
    }

    .vendor-display div{
        flex: 30%;
        max-width: 30%;
    }
}

@media screen and (max-width:800px) {
    .food-display div{
        flex: 40%;
        max-width: 40%;
    }

    .vendor-display div{
        flex: 40%;
        max-width: 40%;
    }
}

@media screen and (max-width:600px) {
    .food-display div{
        flex: 90%;
        max-width: 90%;
    }

    .vendor-display div{
        flex: 90%;
        max-width: 90%;
    }
}

