
.vendor-display {
    display:flex; 
    flex-wrap:wrap; 
    padding: 0 4px;

}

.vendor-display div {
    flex:25%;
    max-width:25%;
    padding: 0 4px;
}

.food-display {
    
    display:flex; 
    flex-wrap:wrap; 
    padding: 0 4px;
    
}

.food-display div {
    flex:25%;
    max-width:25%;
    padding: 0 4px;
}

.food-display div img {
    width:100%;
    
}

@media screen and (max-width:1440px) {
    .food-display div{
        flex: 33%;
        max-width: 33%;
    }

    .vendor-display div{
        flex: 33%;
        max-width: 33%;
    }
}

@media screen and (max-width:800px) {
    .food-display div{
        flex: 50%;
        max-width: 50%;
    }

    .vendor-display div{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px) {
    .food-display div{
        flex: 100%;
        max-width: 100%;
    }

    .vendor-display div{
        flex: 100%;
        max-width: 100%;
    }
}

