 
    body {
        background-color:rgb(248, 240, 240);
    }


 .right-nav-parent {
        width:100%;
        background-color:burlywood;
    }

    .right-nav {
        display:flex;
        justify-content: flex-end;
    }
    
    .right-nav ul{
        list-style:none;
        margin-bottom:10px;
        margin-top:10px;
        
    }

    
    .right-nav a{
        color:white;
        padding:11px;
        
    }

    

    .right-nav a:hover {
        color:burlywood;
        background-color: brown;
        font-weight:bold;
    }
