body {
    height:100%;
}


.tier {
    min-height: 400px;
}

.tier-one {
    
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

.tier-one div {
    flex:50%;

}

@media only screen and (max-width: 600px) {
  .tier-one div {
      flex:100%;
  }
}


.tier-one div section{
    padding-left:5%;
    margin-top:100px;
    margin-left: 20%;
    padding-top:7%;
    min-height:200px;
    width:50%;
    vertical-align: center;
    
}

.tier-two {
    
    background-color:rgba(173, 216, 230, .5);
    
}

.tier-three {
    background-color: rgba(173, 216, 230, .3);
    text-align: center;
    font-size:20px;
    
}

.tier-three section {
    background-color:white;
    height: 100px;
    width :200px;
    position:relative;
    top:0px;
    left:50%;
    transform: translate(-50%,-50%);
    line-height:10px;
    padding: 40px;
}

.tier-four {
    background-color:rgb(223, 238, 243);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    min-height:600px !important;
    width:100%;
}


.tier-four-left {
    flex:50%;
    min-height:400px;
    /* text-align: center; */
    /* line-height: 400px; */
}

.tier-four-left section {
    background-color:white;
    height: 150px;
    width :300px;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height:50px;
    padding: 40px;
    text-align:center;
}

.tier-four-right {
    flex:50%;
    display:flex;
    width:100%;
}

.inner-border {
    margin:auto;
    overflow-y:scroll;
    background-color:white;
    min-width: 40%;
    height: 60%;

    box-shadow: 10px 10px 5px #aaaaaaa2;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    text-align: center;
    
}

.inner-border::-webkit-scrollbar {
    display:none;
    width: 0;
    height: 0;
}


.background {

    background-image: url(images/merlion.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    width:98%;
    margin-right:10px;
    z-index: -99;
    position:fixed;
    top:0;
    
    
}

.tier-five {
    background-color:rgb(247, 247, 247);
    height:400px;
    display:flex;
}

.tier-five div {

    background-color: rgb(234, 242, 245);
    position:relative;
    margin:auto;
    min-height:100%;
    min-width:33%;
    padding-left:10%;
    padding-right:10%;
    display:flex;
    
}

.tier-five div section {
    margin:auto;
}
