body {
    height:100%;
}

.tier {
    height: 300px;
    width:100%;
}


.tier-minus-two {
    background-color:rgba(255,255,255,0);
    height: 480px;
    position:fixed;
    top:70px;
    
}

.tier-minus-two div {
    
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:150px;
    text-align:center;
    height:80px;
    display:flex;
    background-color:rgba(10,10,10,.8);
    border-bottom: 5px solid white;
    border-top:5px solid white;
}


.tier-minus-two div section {
    margin:auto;
    font-size: 30px;
    color:white;
}

.tier-minus-one {
    background-color:rgba(255,255,255,0);
    height: 480px !important;
}


.tier-zero {
    background-color: rgb(240, 248, 255);
    display:flex;
    
}


.tier-zero div{
    margin:auto;
    max-width:80%;
}


.tier-hero {
    position:relative;
    height:600px;
    background-image: url(images/singapore-blocks.jpg) ;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    
}



#fixed-hero {
    
    background-image: url(images/singapore2.jpg);
    background-position : center;
    background-size:cover;
    background-repeat: no-repeat;
    height:600px;
    width:100%;
    position:fixed;
    z-index:-99;
    top:0;
}

#fixed-logo {
    background-image: url(images/8bearlogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 110px;
    width:110px;
    border-radius:50%;
    background-color:rgba(255,255,255,1);
    position:fixed;
    left:50%;
    top: 350px;
    transform: translate(-50%,-50%);
    display: none;
    border:5px solid white;
    box-shadow: 0px 0px 0px 3px burlywood;
    z-index:50;
    
}

.tier-one {
    
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
    
}

.tier-one div {
    flex:50%;
    display:flex;
}

@media only screen and (max-width: 600px) {
  .tier-one div {
      flex:100%;
  }
}


.tier-one div section{
    margin:auto;
    vertical-align: center;
    width:50%;
    
}



.tier-two {
    
    background-color:rgba(238, 148, 13, 0.562);
    
}

.tier-three {
    background-color: rgba(212, 45, 176, 0.4);
    text-align: center;
    font-size:20px;
    
    
}

.tier-three section {
    background-color:white;
    height: 100px;
    width :200px;
    position:relative;
    top:0px;
    left:50%;
    transform: translate(-50%,-50%);
    line-height:20px;
    padding: 40px;
    z-index:999;
}

.tier-four {
    position:relative;
    background-color:rgb(223, 238, 243);
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    height: 100%;
    width:100%;
}


.tier-four-left {
    flex:50%;
    min-height:400px;

}

.tier-four-left section {
    background-color:white;
    height: 150px;
    width :300px;
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    line-height:50px;
    padding: 40px;
    text-align:center;
}

.tier-four-right {
    flex:50%;
    display:flex;
    width:100%;
    
}

.inner-border {
    margin:auto;
    overflow-y:scroll;
    background-color:white;
    min-width: 40%;
    height: 60%;
    
    box-shadow: 10px 10px 5px #aaaaaaa2;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    text-align: center;
    
}

.inner-border::-webkit-scrollbar {
    display:none;
}


.tier-five {
    position:relative;
    background-color:rgb(247, 247, 247);
    height:400px;
    display:flex;
}

.tier-five div {
    position:relative;
    background-color: rgb(234, 242, 245);
    margin:auto;
    min-height:100%;
    min-width:33%;
    padding-left:10%;
    padding-right:10%;
    display:flex;
    
}

.tier-five div section {
    margin:auto;
}


.tier-six {
    position:relative;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

.tier-six div {
    
    flex:50%;
}


@media only screen and (max-width: 600px) {
  .tier-six div {
      flex:100%;
  }
}


.tier-six div section{

    margin-top:100px;
    margin-bottom:100px;
    margin-left:20%;
    margin-right:20%;
    min-height:200px;
    width:60%;
    vertical-align: center;

}

.tier-six div section div {
    border:1px solid white;
    padding:20px;
    margin:10px;
    background-color:white;
    text-align: center;
}

.tier-six div section h1 {
    width:100%;
    text-align: center;
    color:white;

}
   