body {
    background-color:white;
}

main {
    width: 100%;
}


a {
    text-decoration:none !important;
    color:black;
    
}

a:hover {
    color:rgb(0,125,255);
    
    
}

#show-username {
    min-width:80px;
    position:absolute;
    top:0;
    right:5%;
    padding: 10px;
    
}

#show-user-font {
    padding:5px;
    border-radius:50%;
}

footer {
    height:100px;
    background-color: rgb(247, 247, 247);
    padding-top:50px;
    padding-bottom:100px;
    color: rgb(206, 197, 197);
    
}

footer div {
    text-align: center;
    
}

.my-table {
    width:80%;
    margin:auto;
    min-height: 70vh;
}


.buyer-form {
    width:80%;
    margin:auto;
    min-height: 70vh;
}

.buyer-buttons {
    
    border:1px solid coral;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    background-color: coral;
    margin:5px;
    color:white;
    
}

.buyer-buttons a{ 
    color:white;
}

.buyer-buttons:hover {
    background-color: violet;
    border:1px solid violet;
    
}

.vendor-buttons {
    
    border:1px solid deeppink;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    background-color: deeppink;
    margin:5px;
    color:white;
    
}

.vendor-buttons a{ 
    color:white;
}

.vendor-buttons:hover {
    background-color: gold;
    border:1px solid gold;
    
}

.vendor-form {
    width:80%;
    margin:auto;
    min-height: 70vh;

}

.vendor-dialog {
    width:25%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:5px solid deeppink;
    padding:20px;
    border-radius: 5px;
    background-color:white;
}

.vendor-dialog:hover {
    border:5px solid deeppink;
    box-shadow: 1px 1px 1px 5px gold;
}



h3 {
    color:brown;
}
